body { min-width: 1100px !important; }

div.periodic_table {
    margin: 0 auto;
}

div.controls {
    margin-left: 10%;
}

div.main_controls {
    padding: 0; margin: 0;
    width: 410px;
    text-align: left;
}

div.controls div {
    display: inline-block;
    vertical-align: bottom;
    padding: 0 10px;
}

div.controls span { margin: 1px; }

div.controls h1 {
    text-decoration: underline;
    font-variant: small-caps;
}

div.controls p, div.controls select {
    font-family: sans;
    font-weight: bold;
    font-size: 12px;
}

div.controls select, div.controls input#search{
    margin: 1px;
    border: solid black 1px;
}
div.controls #search {
    width: 150px;
    margin-right: 10px;
}

svg.color_legend g text {
    font-size: 14px;
    text-decoration: underline;
}


svg .element_box {
    stroke: #000;
    stroke-width: 1.5px
}

svg.periodic_table g.element text.box_info {
    font-size: 12px;
    text-anchor: middle;
}

svg.periodic_table g.element text.symbol {
    font-size: 24px;
    font-family: monospace;
    font-weight: bold;
    text-anchor: middle;
}

.d3-tip table td {
    color: white;
    font-size: 12px;
}

.d3-tip em {
    font-weight: bold;
    font-style: normal;
    font-size: 22px;
    font-family: serif;
    font-variant: small-caps;
}

.d3-tip {
  font-size: 13px;
  font-family: sans;
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

